<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>935902127066-0k06talocku1vkhs92gnou8eqpr0qhkb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.935902127066-0k06talocku1vkhs92gnou8eqpr0qhkb</string>
	<key>API_KEY</key>
	<string>AIzaSyCjOwewzqipIw55VE_1RkM0hLrDszCEMOg</string>
	<key>GCM_SENDER_ID</key>
	<string>935902127066</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todo1</string>
	<key>PROJECT_ID</key>
	<string>flutter-7b5df</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-7b5df.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:935902127066:ios:e22e8fdd1387a7567156e3</string>
</dict>
</plist>