<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>516531210842-ort57n5cv03o4rlesua11ebga032tmt8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.516531210842-ort57n5cv03o4rlesua11ebga032tmt8</string>
	<key>API_KEY</key>
	<string>AIzaSyCZYPZu5pO4AFUrRe0kna2sDZHB0rtJQKg</string>
	<key>GCM_SENDER_ID</key>
	<string>516531210842</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todo</string>
	<key>PROJECT_ID</key>
	<string>todo-ea207</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-ea207.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:516531210842:ios:d4c8c9194cde2069496663</string>
</dict>
</plist>